{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/radio-trading-answer" method="post">


        <div class="govuk-form-group">
          <fieldset class="govuk-fieldset" aria-describedby="changedName-hint">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <h1 class="govuk-fieldset__heading">
                Has {{ data['company-name-input'] }} been trading for at least 1 year?
              </h1>
            </legend>
            <div class="govuk-radios govuk-radios--inline" data-module="govuk-radios">
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="radioTrading" name="radioTrading" type="radio" value="Yes">
                <label class="govuk-label govuk-radios__label" for="changedTrading">
                  Yes
                </label>
              </div>
              <div class="govuk-radios__item">
                <input class="govuk-radios__input" id="radioTrading-2" name="radioTrading" type="radio" value="No">
                <label class="govuk-label govuk-radios__label" for="changedTrading-2">
                  No
                </label>
              </div>
            </div>
          </fieldset>
        </div>

        
        <button type="submit" class="govuk-button" data-module="govuk-button">
          Save and continue
        </button>
      </form>
      <p class="govuk-body">
        <a href="#" class="govuk-link govuk-link--no-visited-state">Return to Smith and Harpers Pension Scheme</a>
      </p>
    </div>
  </div>


   <!--If else statement
   <script>
    function redirectUserTrading() {
      const form = document.getElementById('redirectFormTrading');
      const radioValue = form.elements['radioTrading'].value;
  
      if (radioValue === 'Yes') {
        form.action = "/company-name-previous-postcode";
      } else if (radioValue === 'No') {
        form.action = "/check-answers-trading-no" ;
      }
  
      return true; // Allow the form to submit
    }

  </script> -->


{% endblock %}
